gdown
inference==0.9.17
supervision>=0.20.0
tqdm
ultralytics
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
